body {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.fixed-box {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
}
.fixed-box .popover-layer {
  z-index: 101;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  border: 0;
  margin: 0;
  position: absolute;
}
.fixed-box .popover-layer .popover-box {
  position: relative;
  width: 100%;
  height: 100%;
}
.fixed-box .popover-layer .popover-box #left-pop {
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  left: 0;
}
.fixed-box .popover-layer .popover-box #right-pop {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
}

.box {
  width: 200%;
  height: 100%;
  display: table;
  border-collapse: collapse;
  position: relative;
}
.box .test-box {
  transition: all 0.38s;
  position: absolute;
  width: 50%;
  height: 100%;
  display: table-cell;
  right: 0;
  overflow: hidden;
}

[data-location="50"] {
  transform: translateX(-50%);
}

[data-location="100"] {
  transform: translateX(-100%);
}

[data-location="150"] {
  transform: translateX(-150%);
}

.player {
  width: 50%;
  height: 140%;
  top: -20vh;
  z-index: 3;
  position: absolute;
  background-color: violet;
}

.points-layer {
  padding: 0 10%;
  line-height: 50px;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  height: 50px;
  color: white;
  font-weight: 700;
  position: relative;
}
.points-layer .current-points {
  position: absolute;
  right: 3vw;
  top: 2vh;
}
.points-layer .max-points {
  position: absolute;
  left: 3vw;
  top: 2vh;
}

.img-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  z-index: 4;
  transition: all 200ms;
}
.img-layer img {
  width: 100%;
  height: 100%;
}

.opacityZero {
  opacity: 0;
}

.btn-layer {
  width: 100%;
  height: 10%;
  position: absolute;
  bottom: 23vh;
  z-index: 999;
}

.btn {
  margin: 0 auto;
  width: 16.6666666667%;
  height: 100%;
  line-height: 8vh;
  font-size: 1.8rem;
  font-weight: 700;
  overflow: hidden;
  border: 4px solid white;
  color: white;
  position: absolute;
}
.btn i {
  font-size: 1.5rem;
}

@-webkit-keyframes iconMovement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes iconMovement {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0px);
  }
}
.btn:hover {
  border: 3px solid gray;
  color: #888;
  background-color: white;
  box-sizing: white;
  box-shadow: 0px 0px 20px white;
}
.btn:hover i {
  -webkit-animation: iconMovement 1000ms;
          animation: iconMovement 1000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

#left-btn {
  left: 16.6666666667%;
}

#right-btn {
  right: 16.6666666667%;
}

.hidden {
  display: none;
}

.info-layer {
  position: absolute;
  left: 7.14285714%;
  width: 35.7142857%;
  z-index: 7;
  color: white;
  bottom: 40vh;
  text-align: center;
  padding-top: 10px;
  font-weight: 700;
  text-shadow: 0 0 5px #fff;
  opacity: 0.8;
}
.info-layer p {
  margin-bottom: 7px;
}

.title {
  font-size: 2rem;
  height: 150px;
  overflow: hidden;
  vertical-align: bottom;
}

.views {
  text-shadow: 0 0 5px #fff;
}
.views span {
  margin: 0 auto;
  background-color: white;
  color: black;
  padding: 6px 0;
  display: block;
  letter-spacing: 3px;
  font-size: 1.8rem;
  position: relative;
  border: 1px #ccc solid;
}
.views span::after {
  content: "?";
  position: absolute;
  padding: 6px 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  z-index: 7;
  overflow: hidden;
}
.views span.display::after {
  -webkit-animation: displayViews 180ms;
          animation: displayViews 180ms;
  height: 0%;
  padding: 0;
}

@-webkit-keyframes displayViews {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes displayViews {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}
.circle-layer {
  width: 6vw;
  height: 6vw;
  text-align: center;
  line-height: 6vw;
  position: absolute;
  top: 47vh;
  left: 47vw;
}
.circle-layer .circle-box {
  width: 100%;
  height: 100%;
  position: relative;
  border-radius: 6vw;
  transform-style: preserve-3d;
  transition: transform 0.2s;
}
.circle-layer .circle-box.circle-rotate {
  transition: transform 0.4s;
  transform: rotateY(180deg);
}
.circle-layer .circle-obj {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6vw;
  overflow: hidden;
  text-shadow: 0 0 10px #000;
  box-shadow: 0 0 10px #ddd, 0 0 20px #000;
}
.circle-layer #front {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: #888;
}
.circle-layer #front::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "?";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
  z-index: 210;
}
.circle-layer #front::after {
  content: "";
  z-index: 209;
}
.circle-layer #front.timeAttack {
  background-color: yellow;
}
.circle-layer #front.timeAttack::before {
  -webkit-animation: timeAttackIcon 10s;
          animation: timeAttackIcon 10s;
}
.circle-layer #front.timeAttack::after {
  -webkit-animation: timeAttackBackGround 10s;
          animation: timeAttackBackGround 10s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: #000;
  opacity: 0.6;
}
@-webkit-keyframes timeAttackIcon {
  0% {
    content: "9";
    font-size: 4rem;
  }
  5% {
    font-size: 5rem;
  }
  10% {
    content: "9";
    font-size: 4rem;
  }
  15% {
    font-size: 5rem;
  }
  20% {
    content: "8";
    font-size: 4rem;
  }
  25% {
    font-size: 5rem;
  }
  30% {
    content: "7";
    font-size: 4rem;
  }
  35% {
    font-size: 5rem;
  }
  40% {
    content: "6";
    font-size: 4rem;
  }
  45% {
    font-size: 5rem;
  }
  50% {
    content: "5";
    font-size: 4rem;
  }
  55% {
    font-size: 5rem;
  }
  60% {
    content: "4";
    font-size: 4rem;
  }
  65% {
    font-size: 5rem;
  }
  70% {
    content: "3";
    font-size: 4rem;
  }
  75% {
    font-size: 5rem;
  }
  80% {
    content: "2";
    font-size: 4rem;
  }
  85% {
    font-size: 5rem;
  }
  90% {
    content: "1";
    font-size: 4rem;
  }
  95% {
    font-size: 5rem;
  }
  100% {
    content: "0";
    font-size: 4rem;
  }
}
@keyframes timeAttackIcon {
  0% {
    content: "9";
    font-size: 4rem;
  }
  5% {
    font-size: 5rem;
  }
  10% {
    content: "9";
    font-size: 4rem;
  }
  15% {
    font-size: 5rem;
  }
  20% {
    content: "8";
    font-size: 4rem;
  }
  25% {
    font-size: 5rem;
  }
  30% {
    content: "7";
    font-size: 4rem;
  }
  35% {
    font-size: 5rem;
  }
  40% {
    content: "6";
    font-size: 4rem;
  }
  45% {
    font-size: 5rem;
  }
  50% {
    content: "5";
    font-size: 4rem;
  }
  55% {
    font-size: 5rem;
  }
  60% {
    content: "4";
    font-size: 4rem;
  }
  65% {
    font-size: 5rem;
  }
  70% {
    content: "3";
    font-size: 4rem;
  }
  75% {
    font-size: 5rem;
  }
  80% {
    content: "2";
    font-size: 4rem;
  }
  85% {
    font-size: 5rem;
  }
  90% {
    content: "1";
    font-size: 4rem;
  }
  95% {
    font-size: 5rem;
  }
  100% {
    content: "0";
    font-size: 4rem;
  }
}
@-webkit-keyframes timeAttackBackGround {
  0% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  20% {
    height: 20%;
  }
  30% {
    height: 30%;
  }
  40% {
    height: 40%;
  }
  50% {
    height: 50%;
  }
  60% {
    height: 60%;
  }
  70% {
    height: 70%;
  }
  80% {
    height: 80%;
  }
  90% {
    height: 90%;
  }
  100% {
    height: 100%;
  }
}
@keyframes timeAttackBackGround {
  0% {
    height: 0%;
  }
  10% {
    height: 10%;
  }
  20% {
    height: 20%;
  }
  30% {
    height: 30%;
  }
  40% {
    height: 40%;
  }
  50% {
    height: 50%;
  }
  60% {
    height: 60%;
  }
  70% {
    height: 70%;
  }
  80% {
    height: 80%;
  }
  90% {
    height: 90%;
  }
  100% {
    height: 100%;
  }
}
.circle-layer #back {
  transform: rotateY(180deg);
  background-color: transparent;
}
.circle-layer #back.success {
  background-color: green;
}
.circle-layer #back.success::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\f00c";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
}
.circle-layer #back.fail {
  background-color: red;
}
.circle-layer #back.fail::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\f00d";
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  color: white;
}

.blur-layer {
  width: 50%;
  height: 100%;
  z-index: 6;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
}

@media (min-width: 1400px) {
  #front::before, #back.success::before, #back.fail::before {
    font-size: 4rem;
  }
}
@media (max-width: 1400px) {
  @-webkit-keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 3rem;
    }
    5% {
      content: "9";
      font-size: 4rem;
    }
    10% {
      content: "9";
      font-size: 3rem;
    }
    15% {
      font-size: 4rem;
    }
    20% {
      content: "8";
      font-size: 3rem;
    }
    25% {
      font-size: 4rem;
    }
    30% {
      content: "7";
      font-size: 3rem;
    }
    35% {
      font-size: 4rem;
    }
    40% {
      content: "6";
      font-size: 3rem;
    }
    45% {
      font-size: 4rem;
    }
    50% {
      content: "5";
      font-size: 3rem;
    }
    55% {
      font-size: 4rem;
    }
    60% {
      content: "4";
      font-size: 3rem;
    }
    65% {
      font-size: 4rem;
    }
    70% {
      content: "3";
      font-size: 3rem;
    }
    75% {
      font-size: 4rem;
    }
    80% {
      content: "2";
      font-size: 3rem;
    }
    85% {
      font-size: 4rem;
    }
    90% {
      content: "1";
      font-size: 3rem;
    }
    95% {
      font-size: 4rem;
    }
    100% {
      content: "0";
      font-size: 3rem;
    }
  }
  @keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 3rem;
    }
    5% {
      content: "9";
      font-size: 4rem;
    }
    10% {
      content: "9";
      font-size: 3rem;
    }
    15% {
      font-size: 4rem;
    }
    20% {
      content: "8";
      font-size: 3rem;
    }
    25% {
      font-size: 4rem;
    }
    30% {
      content: "7";
      font-size: 3rem;
    }
    35% {
      font-size: 4rem;
    }
    40% {
      content: "6";
      font-size: 3rem;
    }
    45% {
      font-size: 4rem;
    }
    50% {
      content: "5";
      font-size: 3rem;
    }
    55% {
      font-size: 4rem;
    }
    60% {
      content: "4";
      font-size: 3rem;
    }
    65% {
      font-size: 4rem;
    }
    70% {
      content: "3";
      font-size: 3rem;
    }
    75% {
      font-size: 4rem;
    }
    80% {
      content: "2";
      font-size: 3rem;
    }
    85% {
      font-size: 4rem;
    }
    90% {
      content: "1";
      font-size: 3rem;
    }
    95% {
      font-size: 4rem;
    }
    100% {
      content: "0";
      font-size: 3rem;
    }
  }
  #front::before, #back.success::before, #back.fail::before {
    font-size: 3rem;
  }
  .info-layer {
    font-size: 0.8rem;
  }
  .info-layer .title {
    font-size: 1.5rem;
  }
  .info-layer .views .display, .info-layer .views span {
    font-size: 1.3rem;
  }
  .points-layer {
    font-size: 1.5rem;
    line-height: 39px;
  }
}
@media (max-width: 1200px) {
  @-webkit-keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 2rem;
    }
    5% {
      content: "9";
      font-size: 3rem;
    }
    10% {
      content: "9";
      font-size: 2rem;
    }
    15% {
      font-size: 3rem;
    }
    20% {
      content: "8";
      font-size: 2rem;
    }
    25% {
      font-size: 3rem;
    }
    30% {
      content: "7";
      font-size: 2rem;
    }
    35% {
      font-size: 3rem;
    }
    40% {
      content: "6";
      font-size: 2rem;
    }
    45% {
      font-size: 3rem;
    }
    50% {
      content: "5";
      font-size: 2rem;
    }
    55% {
      font-size: 3rem;
    }
    60% {
      content: "4";
      font-size: 2rem;
    }
    65% {
      font-size: 3rem;
    }
    70% {
      content: "3";
      font-size: 2rem;
    }
    75% {
      font-size: 3rem;
    }
    80% {
      content: "2";
      font-size: 2rem;
    }
    85% {
      font-size: 3rem;
    }
    90% {
      content: "1";
      font-size: 2rem;
    }
    95% {
      font-size: 3rem;
    }
    100% {
      content: "0";
      font-size: 2rem;
    }
  }
  @keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 2rem;
    }
    5% {
      content: "9";
      font-size: 3rem;
    }
    10% {
      content: "9";
      font-size: 2rem;
    }
    15% {
      font-size: 3rem;
    }
    20% {
      content: "8";
      font-size: 2rem;
    }
    25% {
      font-size: 3rem;
    }
    30% {
      content: "7";
      font-size: 2rem;
    }
    35% {
      font-size: 3rem;
    }
    40% {
      content: "6";
      font-size: 2rem;
    }
    45% {
      font-size: 3rem;
    }
    50% {
      content: "5";
      font-size: 2rem;
    }
    55% {
      font-size: 3rem;
    }
    60% {
      content: "4";
      font-size: 2rem;
    }
    65% {
      font-size: 3rem;
    }
    70% {
      content: "3";
      font-size: 2rem;
    }
    75% {
      font-size: 3rem;
    }
    80% {
      content: "2";
      font-size: 2rem;
    }
    85% {
      font-size: 3rem;
    }
    90% {
      content: "1";
      font-size: 2rem;
    }
    95% {
      font-size: 3rem;
    }
    100% {
      content: "0";
      font-size: 2rem;
    }
  }
  #front::before, #back.success::before, #back.fail::before {
    font-size: 2rem;
  }
  .info-layer {
    font-size: 0.5rem;
  }
  .info-layer .title {
    font-size: 1.2rem;
  }
  .info-layer .views .display, .info-layer .views span {
    font-size: 1rem;
  }
  .points-layer {
    font-size: 1.2rem;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  @-webkit-keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 1.3rem;
    }
    5% {
      font-size: 1.8rem;
    }
    10% {
      content: "9";
      font-size: 1.3rem;
    }
    15% {
      font-size: 1.8rem;
    }
    20% {
      content: "8";
      font-size: 1.3rem;
    }
    25% {
      font-size: 1.8rem;
    }
    30% {
      content: "7";
      font-size: 1.3rem;
    }
    35% {
      font-size: 1.8rem;
    }
    40% {
      content: "6";
      font-size: 1.3rem;
    }
    45% {
      font-size: 1.8rem;
    }
    50% {
      content: "5";
      font-size: 1.3rem;
    }
    55% {
      font-size: 1.8rem;
    }
    60% {
      content: "4";
      font-size: 1.3rem;
    }
    65% {
      font-size: 1.8rem;
    }
    70% {
      content: "3";
      font-size: 1.3rem;
    }
    75% {
      font-size: 1.8rem;
    }
    80% {
      content: "2";
      font-size: 1.3rem;
    }
    85% {
      font-size: 1.8rem;
    }
    90% {
      content: "1";
      font-size: 1.3rem;
    }
    95% {
      font-size: 1.8rem;
    }
    100% {
      content: "0";
      font-size: 1.3rem;
    }
  }
  @keyframes timeAttackIcon {
    0% {
      content: "9";
      font-size: 1.3rem;
    }
    5% {
      font-size: 1.8rem;
    }
    10% {
      content: "9";
      font-size: 1.3rem;
    }
    15% {
      font-size: 1.8rem;
    }
    20% {
      content: "8";
      font-size: 1.3rem;
    }
    25% {
      font-size: 1.8rem;
    }
    30% {
      content: "7";
      font-size: 1.3rem;
    }
    35% {
      font-size: 1.8rem;
    }
    40% {
      content: "6";
      font-size: 1.3rem;
    }
    45% {
      font-size: 1.8rem;
    }
    50% {
      content: "5";
      font-size: 1.3rem;
    }
    55% {
      font-size: 1.8rem;
    }
    60% {
      content: "4";
      font-size: 1.3rem;
    }
    65% {
      font-size: 1.8rem;
    }
    70% {
      content: "3";
      font-size: 1.3rem;
    }
    75% {
      font-size: 1.8rem;
    }
    80% {
      content: "2";
      font-size: 1.3rem;
    }
    85% {
      font-size: 1.8rem;
    }
    90% {
      content: "1";
      font-size: 1.3rem;
    }
    95% {
      font-size: 1.8rem;
    }
    100% {
      content: "0";
      font-size: 1.3rem;
    }
  }
  #front::before, #back.success::before, #back.fail::before {
    font-size: 1.3rem;
  }
  .info-layer {
    font-size: 0.3rem;
  }
  .info-layer .title {
    font-size: 1rem;
  }
  .info-layer .views .display, .info-layer .views span {
    font-size: 0.8rem;
  }
  .points-layer {
    font-size: 1rem;
    line-height: 25px;
  }
}/*# sourceMappingURL=main_css.css.map */