<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>베타테스트 페이지</title>
    <link href="https://cdn.jsdelivr.net/gh/JellyBrick/SeguFont/SeguSegu-Regular.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/gh/JellyBrick/SeguFont/Goseogu-Regular.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" th:href="@{/css/index.css}" href="index.css">
    <script src="https://kit.fontawesome.com/4f9efab1e5.js" crossorigin="anonymous"></script>
</head>
<body onload="myFunc()">
<div class="back-ground" th:id="${bgVideo.vid}" id="v8j6sSGr0dk"></div>
<div class="front-ground">
    <div class="index-box">
        <div class="title">
            <h1>왁튜브 조회수 더 높게 더 낮게</h1>
            <p>조회수는
                <span th:text="${lastUpdate.year}">2015</span> 년
                <span th:text="${lastUpdate.month}">7</span> 월
                <span th:text="${lastUpdate.day}">26</span> 일
                <span th:text="${lastUpdate.hour}">12</span> 시
                <span th:text="${lastUpdate.minute}">36</span> 분
                을 기준으로 합니다</p>
        </div>
        <div class="btn-layer">
            <div class="btn-box">
                <a href="/test?timeAttackMode=false" id="left"><i class="fa-solid fa-play"></i> 플레이하기</a>
                <a href="/test?timeAttackMode=true" id="right"><i class="fa-regular fa-hourglass-half"></i> 타임어택모드</a>
            </div>
        </div>
    </div>
</div>
<script th:src="@{/js/result.js}" src="../result/result.js"></script>
<script>
    let myFunc = ()=>{
      p = document.getElementsByClassName('back-ground');
      ytFunc(p[0].id);
    };
  </script>
</body>
</html>